body {
  font-family: Open Sans, sans-serif;
}

a {
  display: block;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

p,
h1,
h2 {
  margin: 0;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 31px;
  padding-left: 31px;

  // для мобильного
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // для планшета
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-right: 55px;
    padding-left: 55px;
  }
}

.header-mob {
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-pc {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.visually-hidden {
  @extend %visually-hidden;
}
