.header__flex-box {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: end;
  }
}

.nav--mb {
  // для мобильного
  margin-bottom: 64px;

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.container__header--mt {
  padding-top: 40px;
}

.container--size {
  position: relative;
}
