.logo__svg {
  fill: $main-title-font;
}

.header__flex-box {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.nav--mb {
  margin-bottom: 64px;
}

.container__header--mt {
  padding-top: 40px;
}

.container--size {
  position: relative;
}
