// !ok
.masters {
  background: $second-bg-color;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 117px;
  }
}

.masters__container {
  // для планшета
  // для мобильного и ПК - базовые
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 159px;
    padding-right: 159px;
  }
}

// !ok
.masters__upper-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  @extend %upper-title;

  color: $second-font-color;

  &::before {
    @extend %line;
    margin-right: 20px;
  }
}

// !ok
.masters__title {
  margin-bottom: 44px;

  font-family: $second-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $second-font-color;
}

.masters__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @extend %list-reset;
}

// !ok
.masters__item {
  // для мобильного
  @media screen and (max-width: 767px) {
    max-width: 418px;
    &:not(:last-child) {
      margin-bottom: 51px;
    }
  }

  // для планшета
  @media screen and (min-width: 768px) {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    max-width: calc((100% - 60px) / 3);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

// !ok
.masters__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 30px;
  padding-bottom: 13px;

  border-left: 1px solid $comercial-font-color;
  border-right: 1px solid $comercial-font-color;
  border-bottom: 1px solid $comercial-font-color;
}

// !ok
.masters__name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: $second-font-color;
}

// !ok
.masters__position {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: $fourth-font-color;
}

// !ok
.social__item {
  @extend %list-reset;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

// !ok
.social__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: $main-bg-color;

  &:hover .social__svg,
  &:focus .social__svg {
    fill: $main-hover-color;
  }
}

// !ok
.social__svg {
  transition: fill 250ms linear;
}

// !ok
.social__list {
  @extend %list-reset;
  transition: fill 2250ms linear;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
