// Кнопка открытия меню
.button__open {
  // для телефона
  display: block;

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  // и на его место становится hero
  position: absolute;
  top: 0;
  right: 0;

  max-width: 338px;

  padding-left: 40px;
  padding-right: 103px;
  padding-top: 118px;
  padding-bottom: 227px;

  background: #ffffff;
  opacity: 1;
  // transform: translateX(0);
  transition: opacity 250ms linear;

  &.is-hidden {
    opacity: 0;
    /* чтобы пропадала подложка backdrop и под ним можно было что-то нажать */
    pointer-events: none;
    /* *При выключенном backdrop, свойства modal такие */
    // transform: translateX(+100%);
  }
}

.nav__list {
  @extend %list-reset;
}

.nav__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: $second-title-font;
  text-decoration: none;

  &:hover {
    color: $main-hover-color;
  }
}

.contacts--mb {
  margin-bottom: 64px;
}

.contacts__link {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $second-font-color;
  text-decoration: none;
}

.subscribe-btn {
  padding: 12px 37px;

  background: transparent;
  border: 1px solid $main-hover-color;
  border-radius: 25px;

  &:hover {
    color: $third-font-color;
    background: $main-hover-color;
  }
}
.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $second-font-color;

  &:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:first-child::before {
    @extend %line;

    margin-right: 40px;
  }

  text-decoration: none;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.menu-btn__close {
  position: absolute;
  top: 48px;
  right: 31px;
}
