.price {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // для телефона
  background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
    url('../img/bg-2/mobile/bg-2@1x.jpg');

  height: 826px;
  max-width: 480px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url('../img/bg-2/mobile/bg-2@2x.jpg');
    height: 826px;
    max-width: 480px;
  }

  // для планшета
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url('../img/bg-2/tablet/bg-2@1x.jpg');
    height: 858px;
    max-width: 768px;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url('../img/bg-2/tablet/bg-2@2x.jpg');
    height: 858px;
    max-width: 768px;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url('../img/bg-2/pc/bg-2@1x.jpg');
    height: 718px;
    max-width: 1280px;
  }

  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url('../img/bg-2/pc/bg-2@2x.jpg');
    height: 718px;
    max-width: 1280px;
  }
}

// !ok
.price__upper-title {
  @extend %f-row-a;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    @extend %line;
    background: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
  }
}

// !ok
.price__title {
  margin-bottom: 44px;

  font-family: $second-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $main-title-font;
}

.price__list-first,
.price__list-second {
  @extend %list-reset;

  // для мобильного
  padding: 30px 30px;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  // для планшета
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 690px;
    padding: 30px 40px;

    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    width: 585px;
    padding: 30px 40px;

    &:first-child {
      background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }

    &:last-child {
      background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }
}

// Исчазающий второй список в планшете и мобильном
.price__list-second {
  // для планшета и ПК
  display: none;

  // для ПК
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.price__item-first,
.price__item-second {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  // для мобильного и планшета
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: $comercial-font-color;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }

  // Исчезающий список при ПК версии
  @media screen and (min-width: 1280px) {
    &.hidden {
      display: none;
    }
  }
}

.price__button {
  margin: 0 auto;
  display: block;

  @extend %subscribe-btn;
  color: $third-font-color;
}

.price__item-word1,
.price__item-word2,
.price__item-word3 {
  display: block;
  white-space: nowrap;
}

.price__item-word1 {
  margin-right: 6px;
}

.price__item-word3 {
  margin-left: 6px;
}

.price__item-word2 {
  display: flex;
  align-items: flex-end;

  content: '';
  width: -webkit-fill-available;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}

.price__wrapper-list {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
  }
}
