.footer__container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.footer_wrapper {
  // для мобильного и планшета
  @media screen and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.form__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 44px;
  }
}

.form__label {
  position: absolute;
  left: 0;
  bottom: 9px;

  pointer-events: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form__input {
  width: 100%;
  padding: 0;
  padding-bottom: 9px;

  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $third-font-color;
    color: $third-font-color;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &:focus + .form__label,
  &:not(:placeholder-shown) + .form__label {
    @extend %visually-hidden;
  }
}

.form__name,
.form__tel {
  position: relative;
  width: 100%;

  // для планшета
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 330px;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    max-width: 250px;
  }
}

.form__name {
  // для мобильного
  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.form__tel {
  // для мобильного
  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }
}

.form__textarea {
  position: relative;

  // для мобильного
  @media screen and (max-width: 767px) {
    max-width: 419px;
    height: 76px;
    margin-bottom: 44px;
  }

  // для ПК
  @media screen and (min-width: 768px) {
    max-width: 690px;
    height: 76px;

    margin-bottom: 44px;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    max-width: 530px;
    height: 76px;

    margin-bottom: 44px;
  }
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 0;

  resize: none;
  outline: none;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $third-font-color;
    color: $third-font-color;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &:focus + .textarea__label,
  &:not(:placeholder-shown) + .textarea__label {
    @extend %visually-hidden;
  }
}

.textarea__label {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.suscribe-btn {
  @extend %subscribe-btn;
  color: $third-font-color;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    display: block;
  }
}

// !Форма

// !ok
.registration--p {
  // для мобильного
  padding: 84px 31px;
  width: 100%;
  max-width: 480px;

  background: #191c26;

  // для планшета
  @media screen and (min-width: 768px) {
    padding: 100px 39px;
    width: 100%;
    max-width: 768px;

    background: #191c26;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 188px;
    padding-left: 55px;
    width: 100%;
    max-width: 640px;

    background: #191c26;
  }
}

.registration__title {
  margin-bottom: 44px;

  font-family: $second-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $main-title-font;
}

// !КОНТАКТЫ

// !ok
.contacts__title {
  margin-bottom: 40px;

  font-family: $second-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $main-title-font;
}

.address--mb {
  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 100px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
}

.address__map,
.address__tel,
.address__mail,
.contacts__shedule {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $comercial-font-color;
}

.address__map {
  text-decoration: none;
}

.address__tel {
  // @media screen and (min-width: 768px) {
  margin-top: 20px;
  margin-bottom: 20px;

  text-decoration: none;
  // }
}

.contacts-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__work-time {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main-title-font;

  &::before {
    margin-right: 20px;
    @extend %line;

    background: rgba(157, 164, 189, 0.4);
  }
}

.contacts-p {
  @media screen and (max-width: 767px) {
    // Кривой макет
    position: relative;
    top: -1px;

    padding: 84px 31px;
    width: 100%;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    // Кривой макет
    position: relative;
    top: -1px;
    max-width: 768px;
    width: 100%;

    padding: 100px 39px;
  }

  @media screen and (min-width: 1280px) {
    // Кривой макет
    position: relative;
    top: 0px;
    max-width: 625px;
    width: 100%;

    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
}

.contacts {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // для телефона
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
    url('../img/bg-footer/mobile/bg-footer@1x.jpg');

  height: 496px;
  max-width: 480px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
      url('../img/bg-footer/mobile/bg-footer@2x.jpg');
    height: 496px;
    max-width: 480px;
  }

  // для планшета
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
      url('../img/bg-footer/tablet/bg-footer@1x.jpg');
    height: 449px;
    max-width: 768px;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
      url('../img/bg-footer/tablet/bg-footer@2x.jpg');
    height: 449px;
    max-width: 768px;
  }

  // для ПК
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
      url('../img/bg-footer/pc/bg-footer@1x.jpg');
    height: 644px;
    max-width: 640px;
  }

  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)),
      url('../img/bg-footer/pc/bg-footer@2x.jpg');
    height: 644px;
    max-width: 640px;
  }
}

.address__map-svg,
.address__tel-svg,
.address__mail-svg {
  margin-right: 16px;
}

.br-hidden {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.span-hidden {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
