$second-font: Raleway, sans-serif;

$main-title-font: #ffffff;
$second-title-font: #303030;

$main-font-color: #555555;
$second-font-color: #303030;
$third-font-color: #ffffff;
$fourth-font-color: #ff6c00;

$main-hover-color: #ff6c00;

$comercial-font-color: #9da4bd;

$main-bg-color: #ffffff;
$second-bg-color: #f7f7f7;
