.aside {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
    width: 159px;
    height: 680px;
    outline: 1px solid red;
    background: $main-bg-color;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    width: 155px;
    outline: 1px solid red;
    background: $main-bg-color;
  }
}

.aside__wrapper {
  // Позиционирую относительно самого себя и двигаю вниз
  // для планшета и ПК
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
    position: relative;
    top: 468px;

    // линия
    &::before {
      position: absolute;
      top: 50%;
      left: -100px;

      display: block;
      content: '';
      width: 60px;
      height: 1px;

      background: $second-font-color;

      margin-right: 40px;
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
    position: relative;
    left: 5px;
    top: 468px;
  }

  // линия
  &::before {
    position: absolute;
    top: 50%;
    left: -100px;

    display: block;
    content: '';
    width: 60px;
    height: 1px;

    background: $second-font-color;

    margin-right: 40px;
  }
}

.aside-social__link {
  @extend %social;
  transition: color 250ms linear;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:hover,
  &:focus {
    color: $main-hover-color;
  }
}
