.logo-pc__link {
  @media screen and (min-width: 768px) {
    margin-right: 64px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 71px;
  }
}

.nav-pc__list {
  @extend %list-reset;
}

.nav-pc__link {
  font-weight: 600;
  font-size: 12px;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: $third-font-color;
  text-decoration: none;

  &:hover {
    color: $main-hover-color;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.contacts-pc {
  margin-left: auto;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
  }
}

.contacts-pc__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $third-font-color;
  text-decoration: none;

  @media screen and (min-width: 1280px) {
    margin-right: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.contacts-pc__subscribe-btn {
  &:hover {
    color: $third-font-color;
    background: $main-hover-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 12px 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid $main-hover-color;
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $third-font-color;
  }

  @media screen and (min-width: 1280px) {
    padding: 12px 20px;
    background: transparent;
    border: 1px solid $main-hover-color;
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $third-font-color;
  }
}

.wrapper-position-pc {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;
    padding-left: 50px;
    padding-right: 39px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 39px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.wrapper-pc--LogoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-pc__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-pc__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.container-pc {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
