// !гуд!
// Кнопка открытия меню
.menu-openMob {
  // для планшета и ПК
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// только для мобильного
.menu-container--mobile {
  // и на его место становится hero
  position: absolute;
  top: 0;
  right: 0;

  max-width: 338px;

  padding-left: 40px;
  padding-right: 103px;
  padding-top: 118px;
  padding-bottom: 227px;

  background: #ffffff;
  opacity: 1;
  // transform: translateX(0);
  transition: opacity 250ms linear;

  &.is-hidden {
    opacity: 0;
    /* чтобы пропадала подложка backdrop и под ним можно было что-то нажать */
    pointer-events: none;
    /* *При выключенном backdrop, свойства modal такие */
    // transform: translateX(+100%);
  }
}

.nav-mob--mb {
  margin-bottom: 64px;
}

.nav-mob__list {
  @extend %list-reset;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.nav-mob__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  // @media screen and (min-width: 768px) {
  //   &:not(:last-child) {
  //     margin-bottom: 0;
  //     margin-right: 24px;
  //   }
  // }
}

.nav-mob__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: $second-title-font;
  text-decoration: none;

  &:hover {
    color: $main-hover-color;
  }
}

.contacts-mob {
  margin-bottom: 64px;
}

.contacts-mob__link {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $second-font-color;
  text-decoration: none;
}

.contacts-mob__subscribe-btn {
  padding: 12px 36px;

  background: transparent;
  border: 1px solid $main-hover-color;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &:hover {
    color: $third-font-color;
    background: $main-hover-color;
  }

  // @media screen and (min-width: 768px) {
  //   margin-bottom: 20px;
  //   color: $third-font-color;
  //   padding: 12px 20px;
  // }
}

.social-mob {
  // для мобильного
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: block;

  // для планшета и ПК
  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
}

.social-mob__link {
  @extend %social;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:first-child::before {
    @extend %line;

    margin-right: 40px;
  }

  text-decoration: none;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.container-mob--pos {
  position: relative;
}

.menu-mobClose {
  position: absolute;
  top: 48px;
  right: 31px;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 100;
}
